body{
    width: 100vw;
    height: 100vh;
}
main{
    height: 100vh;
}
.form{
    border-radius: 8px;
    border: 1px solid var(--color-grey-9);
    height: 60%;
    margin-left: 4rem;
}
aside{
    height: 100vh;
    width: 20%;
}
aside > section{
    margin-bottom: 300px;
}
aside > p{
    width: 90%;
}
.form > label{
    width: 90%;
}
.form > input{
    width: 90%;
}
.form > button{
    width:90%;
}
.img-1{
    height: 209px;
    width: 87px;
}
.login > button{
    width: 90%;
}
.spiner{
    animation: spiner 2s linear infinite;
}
@keyframes spiner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}