@import url('https://fonts.googleapis.com/css2? family= IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200; 1.300;1.400;1.500;1.600;1.700 & display=trocar');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-brand-1: hsl(230, 57%, 50%);
  --brand200: hsl(230, 68%, 54%);
  --gray100: hsl(210, 11%, 15%);
  --color-grey-8: hsl(210, 10%, 23%);
  --color-grey-3: hsl(210, 9%, 31%);
  --color-grey-4: hsl(210, 7%, 56%);
  --grey500: hsl(210, 11%, 71%);
  --color-grey-9: hsl(210, 16%, 93%);
  --gray700: hsl(210, 17%, 95%);
  --color-grey-7: hsl(210, 17%, 98%);
  --gray900: hsl(200, 100%, 99%);
  --color-alert: hsl(349, 57%, 50%);
  --alert200: hsl(349, 69%, 55%);
  --color-sucess: hsl(162, 88%, 26%);
  font-family: 'IBM Plex Sans', sans-serif;
}
body{
  background-color: var(--alert100);
}