.input-cadastro{
    height: 2.5rem;
    border-radius: 4px;
    background-color: var(--color-grey-9);
    opacity: 50%;
    border: 1px solid var(--color-grey-4);
    padding: 0px 1rem 0px 1rem;
}
.input-title{
    padding: 10px, 17px, 10px, 17px;
    border-radius: 4px;
    background-color: var(--color-grey-9);
    opacity: 50%;
    resize: none;
}
.input-text2{
    border: 1px solid var(--color-alert);
}
.input-title2{
    border: 1px solid var(--color-alert);
}
.input-text{
    padding: 10px, 17px, 10px, 17px;
    border-radius: 4px;
    height: 320px ;
    background-color: var(--color-grey-9);
    opacity: 50%; 
    resize: none;
}
.input-text-post-creat{
    padding: 10px, 17px, 10px, 17px;
    border-radius: 4px;
    height: 120px ;
    background-color: var(--color-grey-9);
    opacity: 50%; 
    resize: none;
}
label{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.input-erro{
    border-color: var(--color-alert);
}
.form > label{
    width: 90%;
}
.form > input{
    width: 90%
}
